  <div class="card">
    <div class="card-body">
      <h6 class="card-title">Novo Grupo</h6>
      <hr>
      <div class="col-12 col-lg-4">
        <%= render 'form', group: @group %>
      </div>
    </div>
  </div>



