<div class="card">
  <div class="card-body">
    <h6 class="card-title">Editando Revenda</h6>
    <hr>
    <div class="col-12 col-lg-4">
      <%= render 'form', dealer: @dealer %>
    </div>
  </div>
</div>